section.content {
    background:transparent;
    min-height: 100vh;
    position: relative;
    padding:10vh 5%;
    left:0;
    z-index: 1;
    width:100%;
    overflow: hidden;
}

  .card-container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @media (min-width: 30em) {
    .card-container {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 60em) {
    .card-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .content h2{
    color:#fff;
    font-size: 6vh;
    text-align: center;

  }
  
  .card {
    background: #292929;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
  }
  .card:hover {
    top: -5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  .card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #fff;
  }
  .card p {
    flex: 1;
    line-height: 1.4;
  }

  .card .links .code[href="#"]{
    display: none;
  }

  .card .links{
    display: flex;
    justify-content: space-between;
  }


  .card a {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
    text-decoration: none;
    
  }
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }


  
  @media (min-width: 60em) {
    .item-1 {
      grid-column: 1 / span 2;
    }
    .item-1 h1 {
      font-size: 24px;
    }
  }
  


